h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    left: 0;
    right: 0;


}
html {
    background-color: black;
    min-height: 100%;
}
body {
    min-height: 100%;
}

* {
    margin: 0;
}
.purple {
    color: #6e0dd0;
}
.orange {
    color: #ff6600;
}
.green {
    color: #85f52c;
}
.yellow {
   color:  #f3f315;
}
.pink {
    color: #ff0099;
}